#genel{width:100%;height:1015px;}
#genel2{width:100%;height:700px;}
.enust{width:100%;height:100px;}
.menu{width:70%;height:60px;float:left;margin-left:2%;margin-top:0.5%;}
.menu1{width:15%;height:60px;float:left;margin-left:2%;color:black;font-size:17px}
.menu1 a{color:black;text-decoration:none}
.logo{width:200px;height:60px;float:left;background-image:url("img/logo.png");background-size:100%;background-repeat:no-repeat;margin-left:3%;margin-top:1%}

.uyeOl{width:120px;height:70px;float:left;margin-left:25px;color:black;font-size:30px;}
.girisYap{width:140px;height:70px;float:left;color:black;font-size:30px;}
.UyeGirisArkaPlan{width:100%;height:650px;}
.uyeGiris{width:340px;height:220px;margin:0 auto;background:white;opacity:0.7;text-decoration:none;}
a .uyegiris{text-decoration: none}
.kullaniciAdi{width:240px;height:27px;border:1px solid grey;color:grey;padding-left:10px;margin-left:45px;background-color:white;margin-top:20px}
.sifre{width:240px;height:27px;border:1px solid grey;color:grey;padding-left:10px;margin-left:45px;background-color:white}
.giris{width:220px;height:35px;background-color:red;margin:0 auto;margin-top:25px;border-radius:3px;color:white;font-size:25px;text-align: center;padding-top:5px;}
a:hover .uyeGiris{opacity:1}
.UyeOlArkaPlan{width:100%;height:650px;}
.UyeOl2{width:300px;height:35px;border:1px solid grey;color:grey;padding-left:10px;margin-left:25px;margin-top:12px;border-radius:2px;font-size:20px}
.Login{width:370px;height:280px;margin:0 auto;margin-top:100px;}

.uyeOl3{width:270px;height:35px;background-color:blue;margin:0 auto;margin-top:25px;border-radius:3px;color:white;font-size:25px;text-align: center;padding-top:5px}
.orta{width:100%;height:200px;background-image:url("img/background4.png");background-size:100%}
.orta2{width:94%;height:260px;font-size:20px;padding:3%;}
.baziilanlar{width:100%;height:30px;font-weight:550;color:grey}
.orta3{width:23%;height:230px;border:1px solid grey;float:left;margin:10px;margin-top:25px}
.orta4{width:94%;height:150px;padding:3%;margin-bottom:25px}
.orta5{width:100%;height:30px;color:grey;font-weight:550;font-size:24px;margin-left:50px;margin-bottom:10px}
.orta6{width:20%;height:120px;float:left;margin-top:15px;margin-left:10px;color:black;font-size:20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
.orta4 img{float:left;margin-top:15px;margin-left:50px;}
.İsBul{width:600px;height:50px;border:1px solid grey;margin-top:60px;margin-left:25px;float:left;font-size:25px;color:grey;padding-left:15px}
.stajYeriBul{width:120px;height:45px;background-color:black;float:left;margin-top:60px;border-radius:3px;color:white;font-size:25px;text-align: center;padding-top:10px}
.UyeGirisOrta{width:100%;height:60%;background-image:url("img/isyeri.jpg");background-repeat:no-repeat;padding-top:150px;background-size:100%}
a:hover .kullaniciAdi{opacity:0.9;}
a:hover .sifre{opacity:0.9;}
a .kullaniciAdi{text-decoration:none;}
.y1{text-decoration:none;}
.girisYap a{color:black;text-decoration: none;}
.uyeOl a{color:black;text-decoration: none;}



#kontrol1{display:none}
#kontrol2{display:none}
#kontrol3{display:none;}
#kontrol4{display:none;}


.stajerilanlariGenel{width:100%;height:1190px;margin:0 auto;}
.ilanlar{width:60%;height:950px;float:left;margin-left:3%;color:black;font-size:20px;padding:2%;margin-top:30px;}
.ilanlar2{width:90%;height:950px;float:left;margin-left:3%;color:black;font-size:20px;padding:2%;margin-top:30px;}

.ilan1{width:100%;height:100px;margin-top:1%;}


.y8{color:blue;font-size:24px;font-weight:550}

.ilanlarGenel{width:80%;height:1000px;margin-left:10%}
.resim{width:30%;height:400px;float:left;margin-top:40px;}
.resim2{width:25%;height:400px;float:left;margin-top:40px;margin-left:5%}
.bilgiler{width:69%;height:1000px;float:left}
.nitelikler{width:80%;height:360px;margin:0 auto;margin-top:5%;color:grey;font-size:17px;}
.nitelikler li{margin-bottom:-9px}
.y4{color:blue;font-weight:500;font-size:20px;width:100%;height:30px;}
.istanitim{width:80%;height:320px;margin:0 auto;margin-top:10px;color:grey;font-size:17px;}
.y5{color:blue;font-size:20px;font-weight:500}
.adaykriterleri{width:80%;height:140px;;margin:0 auto;margin-top:10px;font-size:18px;background-color:#dfdfdf;}
.y6{margin-left:40%;color:blue;font-size:20px;font-weight:500}
.y7{font-weight:600}
.pozisyonbilgileri{width:80%;height:180px;margin:0 auto;font-size:18px;background-color:#dfdfdf;margin-top:15px}
.istanitim2{width:80%;height:130px;margin:0 auto;margin-top:10px;color:grey;font-size:17px;}
.nitelikler2{width:80%;height:420px;margin:0 auto;margin-top:5%;color:grey;font-size:17px}
.nitelikler2 li{margin-bottom:-9px}
.istanitim3{width:80%;height:220px;margin:0 auto;margin-top:10px;color:grey;font-size:17px;}
.istanitim4{width:80%;height:120px;margin:0 auto;margin-top:10px;color:grey;font-size:17px;}
.nitelikler3{width:80%;height:380px;margin:0 auto;margin-top:5%;color:grey;font-size:17px}
.nitelikler5{width:80%;height:700px;margin:0 auto;margin-top:5%;color:grey;font-size:17px}
.nitelikler5 li{margin-bottom:-12px}
.adaykriterleri2{width:80%;height:170px;;margin:0 auto;margin-top:10px;font-size:18px;background-color:#dfdfdf }
.alt{width:100%;height:120px;background-image:url("img/alt.png");float:left}
.alt1{width:15%;height:55px;float:left;color:white;font-size:24px;padding:16px;padding-top:40px;margin-left:25px;text-align:center}
.alt2{width:25%;height:75px;float:left;color:white;padding:20px;margin-left:25px;text-align:center}
.alt2 img{margin:10px}
.alt1 a{text-decoration:none;color:white;}
.orta8{width:90%;height:280px;padding:5%;font-size:25px;margin-top:25px}
.bizkimiz{color:grey;font-size:35px;font-weight:550;width:100%;height:70px;}
#orta9{width:90%;height:260px;padding:5%;font-size:25px;height:280px;margin-top:45px}
#iletisimbilgileri{color:grey;font-weight:bold;width:100%;height:50px;}
.y9{font-weight:bold}

.filtreler{width:25%;height:750px;float:left;margin-left:2%;padding:15px;padding-top:45px;background-image:url("img/background3.png");margin-top:30px}
#aramayap{width:200px;height:40px;border:1px solid grey;border-radius:3px;float:left;margin-bottom:30px;margin-left:25px}
#ara{width:60px;height:35px;background:black;float:left;border-radius:5px;color:white;font-weight:550;text-align: center;padding-top:10px;margin-left:-2px}
.filtre{width:215px;height:42px;background-color:#959595;margin-top:20px;float:left;border-radius:4px;color:white;font-size:20px;padding-top:8px;padding-left:35px;margin-left:25px}



#admingenel{width:100%;height:1320px;margin:0 auto;}
#orta10{width:100%;height:1100px;}
#orta10sol{width:31%;height:1220px;float:left;margin-left:10%}
#orta10sag{width:31%;height:1220px;float:left;margin-left:3%;}



.filtreler2{width:25%;height:600px;float:left;margin:25px}
#orta11{width:60%;height:580px;float:left;margin-top:2%;color:blue;padding:1%;font-weight:550;font-size:22px;margin-left:3%}
.stajerilan1{width:90%;height:90px;font-size:22px;color:black;font-weight:500;margin-top:10px;padding-top:10px}
.stajerinresmi{width:25%;height:400px;float:left}
.stajerGenel{width:100%;height:650px;}
.stajerbilgileri{float:left;width:60%;height:400px;margin-left:50px;font-size:22px;padding:4%}
.y14{font-weight:550}

.ekle{width:80px;background:blue;height:30px;color:white;font-size:20px;border-radius:3px;padding:10px;margin:10px}
.kutu1{width:100%;height:700px;}
.input1{width:250px;height:30px;float:left;margin-right:50px;font-size:16px;margin-top:5px}
.ilanekle{width:86px;height:38px;background:blue;color:white;float:left;margin-top:30px;border-radius:3px;font-size:18px;padding-top:12px;padding-left:14px}
.input{float:left}
#cizgi4{display:none}
#ilansil{width:60px;background:blue;height:30px;color:white;font-size:20px;border-radius:3px;padding:10px;margin:10px}
.uyeler{width:300px;height:70px;float:right;margin-right:5%}
#kontrol6{display:none}
.kutu2{width:300px;height:240px;float:left;}
.o2{float:left;margin-top:10px}
#ekle2{width:80px;background:blue;height:30px;color:white;font-size:20px;border-radius:3px;padding:10px;margin:10px}
.kutu3{width:300px;height:300px;float:left;margin-left:20%;margin-top:5%;}
.stajereklegenel{width:100%;height:600px;;}
.kutu4{width:300px;height:300px;float:left;margin-left:2%;margin-top:5%}
.y3 a{text-decoration:none;color:black}
#ilan3 a{text-decoration:none;color:black}
.o3 a{text-decoration:none;color:black}
.ilan1 a{text-decoration:none;color:black}
.y12 a{text-decoration:none;color:black}
.input1{max-width: 290px;max-height:50px;min-width:250px;min-height:30px}
.input10{margin-top:25px;float:left;margin-left:10%}
#input4{width:300px;height:200px;min-width:250px;min-height:150px;max-width:400px;max-height:210px}
.kutu5{width:470px;height:260px;float:left;margin-left:120px;}
.kutu6{width:470px;height:420px;;float:left;margin-left:5%}
#input5{width:300px;height:200px;min-width:250px;min-height:150px;max-width:400px;max-height:350px}
.kutu7{width:350px;height:420px;float:left;margin-left:20px;margin-top:10px}
.o7{font-weight:550;float:left}
#input6{width:300px;height:30px;max-width:340px;max-height:50px;min-width:200px;min-height:25px;float:left}
.o8{float:left}
.kutu8{width:350px;height:420px;float:left;margin-left:20px;}
#input7{width:300px;height:30px;max-width:340px;max-height:50px;min-width:200px;min-height:25px;float:left}
#input8{width:300px;height:30px;max-width:340px;max-height:50px;min-width:200px;min-height:25px;float:left}
#input9{width:300px;height:30px;max-width:340px;max-height:50px;min-width:200px;min-height:25px;float:left}
#input90{width:300px;height:30px;max-width:340px;max-height:50px;min-width:200px;min-height:25px;float:left}
#input91{width:300px;height:30px;max-width:340px;max-height:50px;min-width:200px;min-height:25px;float:left}
#input92{width:300px;height:30px;max-width:340px;max-height:50px;min-width:200px;min-height:25px;float:left}
.y29{text-decoration:none;font-size:25px;color:black;text-align:center;margin-left:50px;margin-top:10px;width:250px;height:50px;float:left}
.y29 a{text-decoration:none;color:black}
